body {
    background-color:#EDE8E8;
}
.infoType{
    font-size: 20px;
    text-decoration: underline;
    line-height: 1.8;
}
.card-title{
    font-size: 40 px; 
}

.recipeName{
    color:black;
    padding: 10 px;
}
#recipe_card{
  background-color:#ffffff;
  margin: 2px;
  max-width: 289px;
  height: 320px;
  color: #706C61;
}


.card{
    border-radius: 10px;
    padding: 3%;
    padding-top:0%;
    margin-top: 3%;
    margin-left: 2%;
    border: 10px
}
 .recipeName {
   text-align: center;
   font-size: 16px;
   margin-top: 10px;
 }

img {
    max-width: 100%;
    margin-top: 12px;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }

#pop_up {
  position: fixed;
  z-index: 900;
  width: 920px;
  top: 70px;
  left: 12.5%; 
  overflow: scroll;
  height: 100%;
  
}  

#close_button {
position: absolute;
top: 10px;
right: 10px;

}
.collapsible {
  background-color: #ee6e73;
}

#recipe_name {
  color: #342E37;
}

#yourIngredients{
  display: inline;
  font-size: 16px;  
  width: 900px;
  align:center;
}

#Target_ingredients li{
  display: inline;
}

#youIngredients {
  margin: 0 15%;
  }
  .recipe_card {
    background-color: #F8F4E3;
    margin: 20px;
    max-width: 270px;
    height: 300px;
    text-size-adjust: auto;
    text-align: center;
  }  
  
  .card-content {
    word-wrap : break-word;
  }
 

